spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: service1_route
          # Если есть переменная SERVICE1_URL — берем её, иначе дефолт
          uri: ${SERVICE1_URL:http://api-service-1:8080} 
          predicates:
            - Path=/service1/**
          filters:
            - StripPrefix=1

        - id: mock_route
          uri: ${WIREMOCK_URL:http://wiremock:8080}
          predicates:
            - Path=/mock/**
          filters:
            - StripPrefix=1

server:
  port: 8080
  servlet:
    context-path: /
  compression:
    enabled: true
    min-response-size: 1024
    mime-types: application/json,application/xml,text/html,text/xml,text/plain

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
